
@import "ember-bootstrap/bootstrap";

body{
    font-size: 14px;
    
}


.panel-default .panel-heading{
    background-color:  #959595;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-body{
    background-color: #d2eef9;
   font-family: Arial, Helvetica, sans-serif;
}

#order{
    color: white;
}

.accord-title{
    color: white;
    font-size: 1px;
   font-family: Arial, Helvetica, sans-serif;
}

.last-row-sec{
    margin-left: 12%;
}

.panel-title {
    
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-heading{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

  #footer2 {
    /* make element as footer*/
    color: #959595;
    text-align: center;
    display: block;
    width: 100%;
  }
  #footer1 {
    /* make element as footer*/
    position: fixed;
    bottom: 0;
    color: #959595;
    text-align: center;
    display: block;
    width: 100%;
  }
      



.headOptions{
    padding:10px;
  }



.navbar{
    background-color: #000aff;
}

.navbar-brand{
    color: white;
    
}
#title{
    color: white;
    text-decoration: none;
}
#username{
    margin-left: 600px;
    margin-top: 15px;
    color: white;
}
.container{
   font-family: Arial, Helvetica, sans-serif;
}


ul {
    list-style-type: none;
  }


.version{
    font-size: 30px;
}

.header .navbar-brand {
    display: flex;
    align-items: center;
    color: #FFF;
    margin-top:10px;
   
  }
  .header .navbar-brand>img {
    padding: 7px 14px;
  }

.navud {
  background-color: #0568ae;
  color: #FFF;
  border-radius: 0px !important;
}

  .navbar-default .navbar-brand {
  padding: 0px;
  }

  .navbar-default .navbar-brand:focus {
    color: #fff;
  }

  .navbar-default .navbar-brand:hover {
    color: #fff;
  }

.navbar-brand #projectname {
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
}

.navbar-brand > img {
  height: 40px;
  padding: 0px !important;
  width: 40px;
  margin-right: 5px;
}

.rightnav ul li {
  width: 130px;
  margin-top: 6px;
  margin-left: 3.5%;
  cursor: pointer;
}
