
@import "ember-bootstrap/bootstrap";

body{
    font-size: 14px;
    
}


.panel-default .panel-heading{
    background-color: #555;
}

.panel-body{
    background-color: lightblue;
}

#order{
    color: white;
}

.accord-title{
    color: white;
    font-size: 1px;
}

// .last-row{
//     margin-left: 6.5%;
// }
// .address{
//     height: 80%;
//     width:90%;
// }
.last-row-sec{
    margin-left: 12%;
}

.panel-title {
    
    font-size: 14px;

}

.panel-heading{
    font-size: 16px;
}

  #footer2 {
    /* make element as footer*/
    color: #959595;
    text-align: center;
    display: block;
    width: 100%;
  }
  #footer1 {
    /* make element as footer*/
    position: fixed;
    bottom: 0;
    color: #959595;
    text-align: center;
    display: block;
    width: 100%;
  }
      
      
      
//       /*link hover color */
//   footer a, a::before {
//       color:#959595;
      
//   }
  
//   .footerLink{
//       margin-bottom:5px;
//   }

//   .footerImage {
// 	margin: 24px auto 11px;
// }

.headOptions{
    padding:10px;
  }

 
//   .btn{
//     margin-left: 5%;
//   }

//   #gps-id{
//     margin-left: 0%;
//   }